@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VGPisgah';
  src: url('/fonts/VGPisgah.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f5f5f5;
}
